<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email</title>

    <style>
      h1 { color: rgb(11, 7, 252) }
      h2 {color:rgb(11, 183, 235)}
   
      p { color: rgb(169, 9, 243) }
    </style>

  </head>
  <body>
   
      <h1>{{title}}</h1>
      <p><h2>{{text}}</h2></p>
      <p>{{conc}}</p>
  </body>
</html>